@page "/"

<div id="wrapper">
    <label>Bluetooth Tethering</label>
    @*Set Disabled="true" in below code to disable Toggle Switch Button*@
    <SfSwitch Checked="true"
              @ref="SwitchObj"
              OnLabel="ON"
              OffLabel="OFF"
              CssClass="e-small"></SfSwitch>
    <SfButton OnClick="ChangeState" CssClass="e-small">Change State</SfButton>
</div>

@code{
    SfSwitch SwitchObj;
    public void ChangeState()
    {
        SwitchObj.Toggle();
    }
}

<style>
    #wrapper{
        text-align: center;
    }

    #wrapper div{
        margin: 2% 40%;
    }
</style>