@page "/"

<div id="wrapper">
    <label>Bluetooth Tethering</label>
    @*Set Disabled="true" in below code to disable Toggle Switch Button*@
    <SfSwitch @bind-Checked="isChecked"
              OnLabel="ON"
              OffLabel="OFF"
              CssClass="e-small"></SfSwitch>
</div>

@code {
    private bool isChecked = true;
}
